*.o
*.vdb
*.didat
Modulo7/Guia/ISE/Actividad_7_2_2/Cordic/isim/
.~*
vivado.*
vivado_*
*.bgn
*.bld
*.cfi
*.cmd
*.cmd_log
*.dcp
*.drc
*.html
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pb
*.pcf
*.prj
*.prm
*.ptwx
*.rst
*.rpt
*.rpx
*.sh
*.sig
*.stx
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.vdi
*.vds
*.wdf
*.wpc
*.xml
*.xmsgs
*.xpi
*.xreport
*.xrpt
*.xsl
*.xst
*.xwbt

