body {
  margin: 0px;
}

#ad {
  display: none;
  overflow: hidden;
  width: 728px;
  height: 90px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	cursor: pointer;
}

#banner {
  position: absolute;
  display: block;
  width: 728px;
  height: 90px;
  background-color: #fff;
  overflow: hidden;
}

#book-now-btn {
  position: absolute;
  top: 54px;
  right: 10px;
  width: 108px;
  height: 31px;
}

#book-now-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  height: 31px;
  background: #eaaf25;
}

#book-now-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -57px;
  margin-top: -17px;
  width: 115px;
  height: 34px;
}

#ua-logo {
  position: absolute;
  top: 8px;
  right: 7px;
  width: 141px;
  height: 41px;
}

#legal {
  position: absolute;
  top: 73px;
  left: 8px;
  width: 184px;
  height: 11px;
  opacity: .8;
}

#latte-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 368px;
  height: 90px;
  overflow: hidden;
}

#mate-bg,
#latte-bg,
#ua-bg {
  position: absolute;
  top: 0;
  left: 0;
}

#routes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 90px;
  overflow: hidden;
}

#routes {
  position: absolute;
  left: -329px;
  top: -175px;
  width: 791px;
  height: 367px;
}

#text-1 {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 140px;
  height: 19px;
}

#text-2-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 551px;
  height: 90px;
  overflow: hidden;
}

#text-2 {
  position: absolute;
  top: 31px;
  right: 0;
  width: 78px;
  height: 20px;
}

#plane-container {
  position: absolute;
  top: 0;
  left: 165px;
  width: 617px;
  height: 90px;
  overflow: hidden;
}

#path {
  position: absolute;
  top: 38px;
  left: -480px;
  width: 450px;
  height: 3px;
  background: #fff;
}

#plane {
  position: absolute;
  top: 21px;
  left: -40px;
  width: 39px;
  height: 38px;
}

#text-3a {
  position: absolute;
  top: 33px;
  left: 76px;
  width: 413px;
  height: 25px;
}

#text-3b {
  position: absolute;
  top: 33px;
  left: 349px;
  width: 140px;
  height: 21px;
}

#text-4a {
  position: absolute;
  top: 33px;
  left: 86px;
  width: 78px;
  height: 21px;
}

#text-4b {
  position: absolute;
  top: 33px;
  left: 77px;
  width: 463px;
  height: 21px;
}
